body{
  margin: 50px;
  margin-bottom: 100px;
}

.T1{
margin: 50px;
}

.X {
  
  animation: cos 4s infinite ease-out;
}
.Y {
  animation: sin 4s infinite ease-out;
}

@keyframes sin {
  0% { transform: translatey(100px);}
  25% {transform: translatey(200px);}
  75% {transform: translatey(0px);}
  100% {transform: translatey(100px);}
}
@keyframes cos {
  0% {transform: translatex(200px);}
  50% {transform: translatex(0px);}
  100% {transform: translatex(200px);}
}

.leforms{
  margin-top: 500px;
}
